---
import AdminLayout from '../../../layouts/AdminLayout.astro'
import ProjectTable from '../../../components/admin/ProjectTable.vue'
---

<AdminLayout title="Proyectos">
  <div class="mb-6">
    <p class="text-on-surface-variant">Gestiona el portafolio de proyectos</p>
  </div>
  <ProjectTable client:only="vue" />
</AdminLayout>
