---
import ScrollReveal from './ScrollReveal.astro'
import Icon from './Icon.astro';

export interface Props {
  title: string
  items: Array<{ icon: string; name: string }>
}

const { title, items } = Astro.props
---

<ScrollReveal>
  <div class="text-center">
    <h2 class="font-headline-md text-headline-md text-slate-text max-sm:mb-md mb-lg">{title}</h2>
    <ul class="flex flex-wrap justify-center items-center gap-md max-sm:gap-sm sm:gap-xl opacity-60 hover:opacity-100 transition-opacity list-none p-0 m-0">
      {items.map((item) => (
        <li class="flex items-center gap-sm">
          <Icon name={item.icon} class="text-electric-blue max-sm:text-3xl text-4xl" />
          <span class="font-display-lg text-headline-md font-bold">{item.name}</span>
        </li>
      ))}
    </ul>
  </div>
</ScrollReveal>
